h1 {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  font-size: 2.5rem;
  line-height: 3.75rem;
}

h1,
h1 a {
  color: $gray02;
}

h1 a {
  text-decoration: none;
}

h1 a:focus,
h1 a:hover {
  color: #002d5a;
  text-decoration: underline;
}

h2 {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 28.8px;
  line-height: 43.2px;
  font-size: 1.8rem;
  line-height: 2.7rem;
}

h2,
h2 a {
  color: $gray02;
}

h2 a {
  text-decoration: none;
}

h2 a:focus,
h2 a:hover {
  color: #002d5a;
  text-decoration: underline;
}

h3 {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 22.4px;
  line-height: 33.6px;
  font-size: 1.4rem;
  line-height: 2.1rem;
}

h3,
h3 a {
  color: $gray02;
}

h3 a {
  text-decoration: none;
}

h3 a:focus,
h3 a:hover {
  color: #002d5a;
  text-decoration: underline;
}

h4 {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 19.2px;
  line-height: 28.8px;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

h4,
h4 a {
  color: $gray02;
}

h4 a {
  text-decoration: none;
}

h4 a:focus,
h4 a:hover {
  color: #002d5a;
  text-decoration: underline;
}

h5 {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  font-size: 1rem;
  line-height: 1.5rem;
}

h5,
h5 a {
  color: $gray02;
}

h5 a {
  text-decoration: none;
}

h5 a:focus,
h5 a:hover {
  color: #002d5a;
  text-decoration: underline;
}

h6 {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  font-size: 0.875rem;
  line-height: 1.3125rem;
}

h6,
h6 a {
  color: $gray02;
}

h6 a {
  text-decoration: none;
}

h6 a:focus,
h6 a:hover {
  color: #002d5a;
  text-decoration: underline;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: bold;
  display: block;
}

h1,
.h1,
h2,
.h2 {
  color: $gray02;
}

h1,
.h1 {
  font-size: 2.4rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.33rem;
}

h6,
.h6 {
  font-size: 1.25rem;
}
